# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\_Tartu\Andmeteaduse_võimalused_äriettevõttes_LTAT_02_020_ja_LTAT_TK_015\LTAT_02_020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
